/* .card {
  width: 18rem;
} */
.container {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
}
.card-img-top {
  max-width: 10rem;
  max-height: 10rem;
  object-fit: contain;
}

.card {
  flex-direction: row !important;
  align-items: center !important;
  margin-top: 0.25rem !important;
}
.card-text {
}

@media only screen and (max-width: 600px) {
  .card-text {
    margin-bottom: 0rem !important;
  }
  .card {
    --bs-card-spacer-y: 0 rem !important;
  }
}
